js/TrembitaService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://trembita.gov.ua/TrembitaSoap/"
    targetNamespace="http://trembita.gov.ua/TrembitaSoap/" 
    name="TrembitaSoapService">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://trembita.gov.ua/TrembitaSoap/">
            <xsd:element name="getPersonInfoJs" type="tns:getPersonInfoJs"/>
            <xsd:element name="getPersonInfoJsResponse" type="tns:getPersonInfoJsResponse"/>
            <xsd:complexType name="getPersonInfoJs">
                <xsd:sequence>
                    <xsd:element name="inn" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getPersonInfoJsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="passport_num" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="passport_ser" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="birthdate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="surname" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="firstname" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="inn" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="getPersonInfoJs">
        <part name="parameters" element="tns:getPersonInfoJs"/>
    </message>
    <message name="getPersonInfoJsResponse">
        <part name="parameters" element="tns:getPersonInfoJsResponse"/>
    </message>
    <portType name="TrembitaSoap">
        <operation name="getPersonInfoJs">
            <input message="tns:getPersonInfoJs"/>
            <output message="tns:getPersonInfoJsResponse"/>
        </operation>
    </portType>
    <binding name="TrembitaSoapPortBinding" type="tns:TrembitaSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getPersonInfoJs">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TrembitaSoapService">
        <port name="TrembitaSoapPort" binding="tns:TrembitaSoapPortBinding">
            <soap:address location="http://192.168.122.181:8080/TrembitaSoap"/>
        </port>
    </service>
</definitions>
